form {
	display: flex;
	flex-direction: column;
	width: 200px;
	padding-top: 1em;
}

form input {
	margin-bottom: .5em;
}

form button {
	margin-top: .5em;
	margin-bottom: 1em;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	display: block;
	text-decoration: none;
	cursor: pointer;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
}

header {
	background-color: #124772;
	color: white;
	overflow: hidden;
}

body {
	margin: 0;
}

h1 {
	margin: 0px;
	float: left;
	padding: 0.3em;
}

header button {
	color: white;
	background: none;
	border: none;
	text-decoration: none;
	padding: 1.5em 2em;
	float: right;
}

#events {
	color: lightblue;
	border-bottom: 3px solid lightblue;
}

header button:hover {
	background-color: #2494b9;
}