body {

    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color:whitesmoke;
    align-items: center;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.splashscreen {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    background-color: #124772;
}

.splashscreen img {
    padding-top: 10%;
    max-width: 30%;
    max-height: 30%;
}
.splash-screen h1{
    top:0cm;
}

.splash-screen {
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    color: white; 
    background-color: #124772; 
}
 header  {
    
    width: 100%;
    position: fixed;
}
header img{
    position: fixed;
    left: 30px; 
    max-width: 50px; 
    height: auto; 
}
header ul {
    
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}
h1{
    margin-left: 45%;
}

#combinedContainer {
   
    overflow: hidden;
    text-align: left;
    background-color: #124772;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    max-width: 900px;
    margin: 5% auto;
}


#combinedContainer img {
   
    border-radius: 8px;
    margin-right: 20px;
   width: 1000px;
   height:500px;
    max-width: 100%;
    flex: 0 0 50%;
    border: 2px solid #eee;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#combinedContainer p {
    
    color:white;
    font-size: 35px; 
    line-height: 1.5;
    padding-top: 70px;
}
    
#TextContainer {

    width: 100ch;
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    background-color: #124772;
    text-align: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 2vw; 
    color: white;
}
#TextContainer p{
  
    padding-top: 40vh;
  margin-left: 50vh;
  margin-right: 50vh;
}
#CreateEventsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    padding-bottom: 8vh;
    background-color: #124772;
   
}
#CreateEventsContainer img {
    border-radius: 1ch;
    border: 1px solid rgb(13, 0, 71); 
}
#CreateEventsContainer img:hover {
    cursor:pointer;
}
#GetStartedButton {
    border-radius: 1em;
    border-style: none;
    background-color: #124772;
    color: white;
    padding: 1em;
    margin-top: 1em; 
}

#CreateEventsContainer h2 {
   color:white;
}

#GetStartedButton:hover {
    background-color: lightblue;
}#footer {
   
    bottom: 0;
    left: 0;
    overflow: hidden;
    background-color: #6d6d6d;
    color: white;
    text-align: left;
    padding: 15px;
  }

  #footer a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 16px;
    transition: border-bottom 0.3s;
  }
  #footer img {
    
    left: 30px; 
    max-width: 50px; 
    height: auto; 
  }
  .marketing-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    background-color: white;
}

.marketing-item {
    text-align: center;
}

.marketing-item img {
    height: 40px; 
    width: auto;
}

.marketing-info {
    margin-top: 5px; 
    text-align: center; 
}

.marketing-info h2 {
    font-size: 18px;
}

.marketing-info p {
    font-size: 14px;
    color: #555;
}