/*
 * @Developer: Brock Jones
 */
body {
  font-family: 'Arial', sans-serif;
  background-color: #124772;
  color: lightgray;
}

form { 
  padding: 10px;
  display: table; 
  margin: auto;   
}

p { 
  display: table-row;  
}

label { 
  display: table-cell; 
  padding: 20px;
}

input { 
  display: table-cell;
  padding: 10px;
  background-color: #6b6b6b;
  color: lightgray;
  border: 3px lightgray solid;
  border-radius: 1em;
}

#submitForm {
  text-align: center;
  padding-top: 10px;
}

span {
  padding-left: 10px;
  padding-right: 20px;
}

.required {
  display: table-cell;
  color: red;
}

h1 {
  text-align: center;
}

#submitButton {
  background-color: darkgreen;
}

button {
  background-color: maroon;
  border: 3px lightgray solid;
  border-radius: 1em;
  color: lightgray;
  width: 8em;
  height: 3em;
}