/*
 * @Developer: Brock Jones
 */
body {
  font-family: 'Arial', sans-serif;
}

.dark {
  background-color: #6d6d6d;
  color: whitesmoke;
}

.light {
  background-color: white;
  color: black;
}

.darkInput {
  color: whitesmoke;
  border: 3px whitesmoke solid;
  background-color: #121212;
}

.darkButton {
  color: whitesmoke;
  border: 3px whitesmoke solid;
}

.lightInput {
  border: 3px black solid;
}

form { 
  display: table; 
  margin: auto;   
}

p { 
  display: table-row;  
}

label { 
  display: table-cell; 
  padding: 20px;
}

input { 
  display: table-cell;
  padding: 10px;
  background-color: whitesmoke;
  /* color: lightgray; */
  border-radius: 1em;
}

#submitForm {
  text-align: center;
  padding-top: 10px;
}

span {
  padding-left: 10px;
  padding-right: 20px;
}

.required {
  display: table-cell;
  color: red;
}

h1 {
  text-align: center;
}

#submitButton {
  background-color: green;
}

#reset {
  background-color: red;
}

#pageHeader {
  text-align: center;
}

/* button {
  background-color: darkred;
  border: 3px black solid;
  border-radius: 1em;
  color: lightgray;
  width: 8em;
  height: 3em;
} */

button:hover {
  cursor:pointer;
}