#wakeup {
	color: lightblue;
	border-bottom: 3px solid lightblue;
}

body {
	height: 100vh;
	background: linear-gradient(to bottom, #191970, #ffa700);
	background-size: 400% 400%;
}

.info {
	color: white;
	text-align: center;
}

#countdown {
	font-size: 5em;
}

@keyframes BackgroundAnimation {
	0% {
		background-position: 0% 0%
	}

	100% {
		background-position: 100% 100%
	}
}

@keyframes InfoAnimation {
	0% {
		color: white
	}

	100% {
		color: black
	}
}